<% if current_user != @user %>
  <% if current_user.followings.include?(@user) %>
    <%= button_to 'Unfollow', unfollow_user_path(@user), method: :delete %>
  <% else %>
    <%= button_to 'Follow', follow_user_path(@user), method: :post %>
  <% end %>
<% end %>

<h2><%= @user.email %>'s Photos</h2>
<% @photos.each do |photo| %>
  <!-- display each photo -->
<% end %>
